#header{
    display: flex;
    flex-direction: row;
}
#header-nav{
    flex: 1;
}
#header-nav > ul{
    display: flex;
    flex-direction: row;
}
#header-nav > ul> li{
    padding: 0 1rem 0 1rem;
}
ul > li{
    display: block;
}