body{
    height: 100vh;
    position:relative;
    background-color: #F3F7F9;
}

#header{
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    background-color: white;
}
#header-nav{
    flex: 1;
}
#header-nav > ul{
    display: flex;
    flex-direction: row;
}
#header-nav > ul> li{
    padding: 0 1rem 0 1rem;
}
#header > .right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}



/* 页脚START */
footer{
    margin-top: 3rem;
    background-color: #eee;
    color: black;
    width: 100%;
}
footer > .footer-content{
    padding: 3rem;

}
footer > .foot-bar{
    text-align: center;
    color: black;
}

/* 页脚END */
ul > li{
    display: block;
}
a {
    text-decoration: none;
    color: rgba(0,0,0,.5);
}
a:hover{
    color: black;
}
a.active{
    color:black;
}